#click-tbl:hover {
cursor: pointer;
background-color: #f2f3ff;
}

.form-upsert{
 font-weight: 700; 
}

.scrollable-container {
    overflow-y: scroll;
    height:500px;
    border:2px solid;
    padding:20px;
}